@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
.font-roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.font-roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
